*/.metadata/
/.metadata/
/Servers/
shms/res/config/dbinfo.properties
*.class
*/target/*
TARGET
*/.bin/
*/bin/
*/.svn/*
*/.recommenders/*
*/RemoteSystemsTempFiles/*
*/.settings/*
*/.classpath
/.recommenders/
exerd/.project
RemoteSystemsTempFiles/
