*/.metadata/
/.metadata/
/Servers/
shms/res/config/dbinfo.properties
shms/.classpath
*.class
*/target/*
TARGET
*/.bin/
*/bin/
*/.svn/*
*/.recommenders/*
*/RemoteSystemsTempFiles/*
*/.settings/*
*/.springBeans
*/.project
