<?xml version="1.0" encoding="UTF-8"?>
<!-- appender : where
layout : how
message : 
logger : who
loggin event level : logger가 메세지를 기록할지 여부를 결정하는 기준.
debug -> info -> warn -> error -> fatal (오른쪽으로 갈수록 높은 레벨)
logger에 설정된 이벤트 이상으로 기록된 이벤트 메세지만 기록 -->

<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%t] %-5level %logger{1.} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>h
  	<Logger name="kr.ac.shms" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
  	<Logger name="jdbc.sqltiming" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
  	<Logger name="jdbc.resultsettable" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
  	<Logger name="org.springframework" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>