.header-area .header-top .header-left-social {
    float: none;
}

.header-area .header-bottom .logo {
    float: left;
    padding: 35px 97px;
    text-align: center;
    background: #f4f4f4;
}

/* index 상단 입학절차 */
#registerArea .col-lg-12 {
    text-align: center;
}
#registerArea .col-lg-3::after {
    content: url("../img/right.png");
    position: relative;
    top: -4%;
    right: -22%
}
#registerArea .col-lg-3:last-of-type:after{
    content: none;
}
#registerArea .single-counter {
    display: inline-block;
}

#registerArea .single-counter p {
    font-size: 1em;
    font-weight: 800;
    text-align: center;
    line-height: 1.3em;
}

@media (max-width : 991px) {
    #registerArea .col-lg-3::after {
        content: none;
    }

    #registerMenu .col-sm-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    #registerMenu .col-sm-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .col-sm-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}